.comparer {
  background: var(--bg1);
  border: 1px solid var(--bg2);
  border-radius: 3px;
  color: inherit;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  margin: 0;
}

.comparer::backdrop {
  background: #000a;
}

.comparer main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comparer main > article {
  flex: 1 1;
}

.comparer footer {
  display: flex;
  gap: 1rem;
}

.comparer footer button {
  flex: 1 1;
}
