.comparer {
  background: var(--bg0);
  border: 1px solid var(--bg1);
  color: inherit;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  gap: 1rem;

  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  margin: 0;
}

.comparer::backdrop {
  background: #000a;
}

.comparer > h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin: 0;
}
