.importer form {
  display: grid;
  gap: 0.5ch;
  grid-template-columns: max-content 1fr;
}

.importer input[type=submit] {
  grid-column: 1 / -1;
  margin-top: calc(1rem - 0.5ch);
}

.importer output {
  grid-column: 2 / -1;
}

.typeSelector {
  display: flex;
  align-items: baseline;
  justify-content: right;
  margin-bottom: 1rem;
  gap: 0.5ch;
}
