.item {
  background: var(--bg1);
  border: 1px solid var(--bg2);
  padding: 1rem;
}

.item header {
  display: flex;
}

.item header button {
  background: none;
  border: none;
  padding: 2px;
  margin: 0;
  color: var(--fg3);
  opacity: 0.5;
}

.item header button:hover:not(:disabled) {
  background: none;
  color: var(--fg2);
  opacity: 0.75;
  transform: scale(1.1);
}

.item header button:active:not(:disabled) {
  background: none;
  color: var(--fg1);
  opacity: 1;
  transform: scale(0.9);
}

.item h3 {
  margin: 0;
  flex: 1 1;
}

.item h3 a {
  color: currentColor;
  text-decoration: none;
}

.item h3 a:hover {
  text-decoration: underline;
}

.item > *:last-child {
  margin-bottom: 0;
}

.item img {
  width: 100%;
}

.iframeContainer {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  margin: 1rem 0;
}

.iframeContainer iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
