.item {
  background: var(--bg2);
  border: 1px solid var(--bg3);
  padding: 1rem;
  border-radius: 3px;
}

.item h3 {
  margin-top: 0;
}

.item > *:last-child {
  margin-bottom: 0;
}

.item img {
  float: right;
  max-width: 20ch;
}

.item iframe {
  border: none;
}
